{% extends 'base.html.twig' %}

 {% block body %}
    
<h1 class="text-center">Accueil</h1>

    <div class="container">    
        {# En tête de page #}

        {# Logo
            <img src="/images/produit/LogoFA.png" alt="Banniere du site : cible et cathédrale" class="mx-auto" width="150">
        #}
       
        {# Cadres #}
        <div class="row row-cols-md-2">
            {# Intro #}
            <div class="card bg-warning border-danger rounded">
                <div class="card-header">Qui sommes-nous ?</div>
                <div class="card-body">
                    <h2 class="card-title">Depuis 1977</h2>
                    <p class="card-text">
                        Installée rue des Jacobins depuis 1977, archers de père en fils, la famille Rimblot-Pinchet s'est spécialisée
                        dans l'archerie loisirs et compétition. <br>
                        Entourée d'une équipe de spécialistes motivés, l'archerie est équipée d'un tunnel de tir et de presses pour
                        arcs à poulies afin de maximiser les réglages de l'arc. <br>
                        En contact direct avec les fournisseurs et fabricants spécialisés, chaque archer, confirmé ou non trouvera son bonheur.
                        Que l'on pratique le tir à l'arc en loisir, compétition, chasse ou traditionnel, notre boutique physique vous est ouverte 6J/7
                        et notre site réguliérement mis à jour vous donnera toutes les informations nécéssaires pour la bonne pratique de votre passion.<br>
                        N'hésitez pas à venir nous rendre visite !
                    </p>                
                    <img class="card-img-top mb-2" src="/images/QuiNous.jpeg" alt="Image de la boutique">
                    <p>
                    <span class="d-block p-2 bg-dark text-white">
                        Nos horaires :<br>
                        Du Lundi au Vendredi de 8H30 à 19h30 <br>
                        Samedi 8H30 à 21H00 (En saison de compétitions) <br>
                        Samedi 8H30 à 19H30 (Hors saison de compétitions) <br>
                        Le Dimanche 10H00 à 12H00 pour les réglages en atelier.
                        <br>
                        (Sur RDV)
                    </span>
                    </p>
                </div>
            </div>
            {# Infos #}
            <div class="card bg-warning  border-danger rounded">
                <div class="card-header">Tempus fugit</div>
                <img class="card-img-top" src="/images/OldImg.jpg" alt="Carte postale ancienne archers">
                <div class="card-body">
                    <h2 class="card-title">L'Histoire...</h2>
                    <p class="card-text">
                        Etienne Aristide Rimblot-Pinchet, de famille modeste, ayant combattu en 1916 dans les tranchées de la Somme,
                        fut le meilleur archer de son régiment.<br>
                        <img src="/images/Aristide.jpg" alt="Portait Aristide" class="float-right mr-2" width="50%">
                        Connu pour avoir abattu avec son arc nombreux pigeons messagers Allemands, il fondit la première compagnie
                        d'arc non loin d'Amiens à Sains-en-Amiènois. Blessé de guerre, décoré de nombreuses fois et incapable de pratiquer 
                        à nouveau sa passion, il partageat ses connaissances avec son entourage. <br>
                        Il s'éteint en 2008, laissant une nombreuse famille d'archers et c'est en 1977, qu'un de ses descendants ouvrit une
                        boutique spécialisée au coeur d'Amiens. <br>
                    </p>
                        <img src="/images/Sains.png" alt="Logo compagnie" class="float-left mr-2">
                    <p>
                        Affilié au club de Sains-en-Amiènois, chaque nouveau client curieux aura la possibilité de faire des initiations
                        gratuites. De plus, les licenciés à la compagnie de Sains-en-Amiènois auront 10% de réduction dans notre
                        boutique. Fondée en 1982 par Jacques Gosselet, ancien champion olympique de tir à l'arc, notre magasin et
                        la compagnie se sont reunis afin de proposer à chacun et chacune une activité saine, ludique et familliale.
                    </p>
                </div>
            </div>
            {# Infos 
            <div class="card bg-warning  border-danger rounded">
                <div class="card-header">Tempus fugit</div>
                <img class="card-img-top" src="/images/OldImg.jpg" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">L'Histoire...</h2>
                    <p class="card-text">
                        Cum cantor ad ingentes oratoris hydraulica et resultantes tinnitu in sonu locum denique sit 
                        ludicrarum et perpetuum sonu artium studiorum sit doctor philosopho carpentorum cantor et paucae 
                        vocali ad speciem artium artium paucae ingentes in seriis pro ritu et tibiaeque et ingentes seriis 
                        paucae celebratae accitur speciem seriis ad lyrae sonu in fabricantur hydraulica et 
                        ritu hydraulica clausis torpentis philosopho non lyrae gestus et artium ludibriis levia
                        ita resultantes celebratae et carpentorum lyrae celebratae denique bybliothecis ludibriis 
                        fabricantur exundant et ludicrarum domus ritu seriis ita hydraulica gestus cantor perflabili 
                        cum cum lyrae cum resultantes et tibiaeque ludibriis ingentes sepulcrorum carpentorum.
                    </p>
                </div>
            </div>#}
        </div>
    </div>

 {% endblock %}