{% extends 'base.html.twig' %}

 {% block body %}
    
<h1 class="text-center">Accueil</h1>

    <div class="container">    
        {# En tête de page #}

        {# Logo
            <img src="/images/produit/LogoFA.png" alt="Banniere du site : cible et cathédrale" class="mx-auto" width="150">
        #}
       
        {# Cadres #}
        <div class="card-group">
            {# Intro #}
            <div class="card bg-warning">
                <div class="card-header">Qui sommes-nous ?</div>
                <img class="card-img-top" src="/images/produit/QuiNous.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Depuis 1090</h5>
                    <p class="card-text">
                        Cum cantor ad ingentes oratoris hydraulica et resultantes tinnitu in sonu locum denique sit 
                        ludicrarum et perpetuum sonu artium studiorum sit doctor philosopho carpentorum cantor et paucae 
                        vocali ad speciem artium artium paucae ingentes in seriis pro ritu et tibiaeque et ingentes seriis 
                        paucae celebratae accitur speciem seriis ad lyrae sonu in fabricantur hydraulica et 
                        ritu hydraulica clausis torpentis philosopho non lyrae gestus et artium ludibriis levia
                        ita resultantes celebratae et carpentorum lyrae celebratae denique bybliothecis ludibriis 
                        fabricantur exundant et ludicrarum domus ritu seriis ita hydraulica gestus cantor perflabili 
                        cum cum lyrae cum resultantes et tibiaeque ludibriis ingentes sepulcrorum carpentorum.
                    </p>
                </div>
            </div>
            {# Infos 
            <div class="card bg-warning">
                <div class="card-header">Qui sommes-nous ?</div>
                <img class="card-img-top" src="/images/produit/1.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">PROMO</h5>
                    <p class="card-text">
                        Cum cantor ad ingentes oratoris hydraulica et resultantes tinnitu in sonu locum denique sit 
                        ludicrarum et perpetuum sonu artium studiorum sit doctor philosopho carpentorum cantor et paucae 
                        vocali ad speciem artium artium paucae ingentes in seriis pro ritu et tibiaeque et ingentes seriis 
                        paucae celebratae accitur speciem seriis ad lyrae sonu in fabricantur hydraulica et 
                        ritu hydraulica clausis torpentis philosopho non lyrae gestus et artium ludibriis levia
                        ita resultantes celebratae et carpentorum lyrae celebratae denique bybliothecis ludibriis 
                        fabricantur exundant et ludicrarum domus ritu seriis ita hydraulica gestus cantor perflabili 
                        cum cum lyrae cum resultantes et tibiaeque ludibriis ingentes sepulcrorum carpentorum.
                    </p>
                </div>
            </div>
            #}
        </div>
    </div>

 {% endblock %}