{% extends 'base.html.twig' %}

{% block title %}Edit Products{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit Products</h1>
        <div class="form-row">
<<<<<<< HEAD
           
=======
          
>>>>>>> 9d626a8b4d8fa96de953ff6f3f3508fc39309c43
            {{ include('products/_form.html.twig', {'button_label': 'Update'}) }}
           
        </div>
      
        <a href="{{ path('products_index') }}">back to list</a>

        {{ include('products/_delete_form.html.twig') }}
    </div>
{% endblock %}
